/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000 url('https://cdn.wallpapersafari.com/73/74/aYFoeO.jpg') center/cover no-repeat; /* Replaced background shorthand */
}

/* Container Styles */
.edit-profile-container {
    max-width: 500px;
    background-color: rgba(17, 17, 17, 0.8); /* Adjusted transparency */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Heading Styles */
h1 {
    margin-top: 0;
    color: #007bff; /* Adjusted heading color */
    font-size: 24px;
}

/* Form Styles */
form {
    margin-top: 20px;
    text-align: left;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Adjusted label color */
}

/* Input Styles */
input[type="text"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

/* Button Styles */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
